#{extends 'main.html' /} #{set title:'Spacebook Leaderboard' /}

<nav class="ui blue inverted pointing menu">
  <div class="header item">Spacebook</div>
  <a class="ui item" href="home"> <i class="home icon"></i>Home</a> 
  <a class="ui item" href="members"> <i class="users icon"></i>Members</a> 
  <a class="ui item" href="profile"> <i class="user icon"></i>Profile</a> 
  <a class="ui active item" href="leaderboard"> <i class="ordered list icon"></i>Leaderboard</a> 
  <a class="ui item" href="logout"> <i class="sign out icon"></i>Logout</a>
</nav>

<h2 class="ui header">SpaceBook Social Leaderboard</h2>

<div class="ui ordered list">
  #{list items:talkative, as:'user'}
  <div class="item">${user.firstName} ${user.lastName},
    (inbox-${user.inbox.size()}, outbox-${user.outbox.size()},
    friends-${user.friendships.size()})</div>
  #{/list}
</div>
<a href="social"><button class="ui blue button">Most Social</button></a>
<a href="talkative"><button class="ui active blue button">Most Talkative</button></a>
