#{extends 'main.html' /} #{set title:'Spacebook' /}

<nav class="ui blue inverted pointer menu">
  <a class="ui active item" href="/home"> <i class="home icon"></i>Back to Home</a>
</nav>

<section class="ui raised segment">
  <div class="ui small header">${user.firstName} ${user.lastName}'s Profile</div>
  <section class="ui two column grid segment">
    <div class="row">
      <div class="column">
        <p>
          ${user.nationality}, <a href="/members/follow/${user.id}">(follow)</a>
        </p>
        <img class="ui large image" src="/profile/getpicture/${user.id}">
        <p>${user.statusText}</p>
        <form action="/publicprofile/sendmessage/${user.id}" class="ui form" method="post">
          <div class="field">
            <textarea name="messageText"></textarea>
          </div>
          <button class="ui fluid blue labeled submit icon button">
            <i class="icon edit"></i> Send </button>
        </form>
      </div>
      <div class="column">
        <h2>Messages</h2>
        <hr>
        <table class="ui celled table segment">
          #{list items:user.inbox, as:'message'}
          <tr>
            <td><img class="ui avatar image" src="/profile/getpicture/${message.from.id}"></td>
            <td><a href="/publicprofile/${message.from.id}">${message.from.firstName}</a></td>
            <td>${message.messageText}</td>
          </tr>
          #{/list}
        </table>
      </div>
    </div>
  </section>
</section>