#{extends 'main.html' /} #{set title:'Spacebook Home' /}

<nav class="ui blue inverted pointing menu">
  <div class="header item">Spacebook</div>
  <a class="ui active item" href="home"> <i class="home icon"></i>Home</a> 
  <a class="ui item" href="members"> <i class="users icon"></i>Members</a> 
  <a class="ui item" href="profile"> <i class="user icon"></i>Profile</a> 
  <a class="ui item" href="leaderboard"> <i class="ordered list icon"></i>Leaderboard</a> 
  <a class="ui item" href="logout"> <i class="sign out icon"></i>Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook: Home page for ${user.firstName} ${user.lastName}</h2>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <h2>Friends (${user.friendships.size()})</h2>
        <div class="ui list">
          #{list items:user.friendships, as:'friendship'}
          <div class="item">
            <i class="right triangle icon"></i> <a href="/publicprofile/${friendship.targetUser.id}">
              ${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a> 
              (<a href="/home/drop/${friendship.targetUser.id}"> drop </a>)
          </div>
          #{/list}
        </div>
      </div>
      <div class="ui column">
        <h2>Messages</h2>
        <hr>

        <table class="ui celled table segment">
        #{list items:user.inbox, as:'message'}      
          <tr>
            <td><img class="ui small image" src="/profile/getpicture/${message.from.id}"></td>
            <td><a href="/publicprofile/${message.from.id}">${message.from.firstName}</a></td>
            <td>${message.messageText}</td>
          </tr>
        #{/list} 
        </table>

        <a href="date"><button class="ui active blue button">By Date</button></a> 
        <a href="byuser"><button class="ui blue button">By User</button></a> 
        <a href="conversation"><button class="ui blue button">By Conversation</button></a>
      </div>
    </div>
  </div>
</section>