#{extends 'main.html' /} #{set title:'Spacebook Members' /}

<nav class="ui blue inverted pointer menu">
  <a class="ui active item" href="profile"> <i class="user icon"></i>Back to Profile</a>
</nav>

<h2 class="ui header">Current Details</h2>
<p>Name: ${user.firstName} ${user.lastName}</p>
<p>Age: ${user.age}</p>
<p>Nationality: ${user.nationality}</p>
<p>Email: ${user.email}</p>

<section class="ui form segment">
  <form action="edit/changeName" method="POST">
    <div class="two fields">
      <div class="field">
        <label>First Name</label> <input placeholder="First Name" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label> <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div>
    <button class="ui blue submit button">Change Name</button>
  </form>

  <form action="edit/changeAge" method="POST">
    <div class="field">
      <label>Age</label> <input placeholder="Age" type="text" name="age">
    </div>
    <button class="ui blue submit button">Change Age</button>
  </form>

  <form action="edit/changeNationality" method="POST">
    <div class="field">
      <label>Nationality</label> <input placeholder="Nationality" type="text" name="nationality">
    </div>
    <button class="ui blue submit button">Change Nationality</button>
  </form>

  <form action="edit/changeEmail" method="POST">
    <div class="field">
      <label>Email</label> <input placeholder="Email" type="text" name="email">
    </div>
    <div class="field">
      <label>Password</label> <input type="password" name="password">
    </div>
    <button class="ui blue submit button">Change Email and Password</button>
  </form>
</section>
