#{extends 'main.html' /} #{set title:'Spacebook Profile' /}

<nav class="ui blue inverted pointing menu">
  <div class="header item">Spacebook</div>
  <a class="ui item" href="home"> <i class="home icon"></i>Home</a> 
  <a class="ui item" href="members"> <i class="users icon"></i>Members</a> 
  <a class="ui active item" href="profile"> <i class="user icon"></i>Profile</a> 
  <a class="ui item" href="leaderboard"> <i class="ordered list icon"></i>Leaderboard</a> 
  <a class="ui item" href="logout"> <i class="sign out icon"></i>Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">${user.firstName} ${user.lastName}'s Profile</h2>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <a href="/edit">Edit Profile</a>
        <p>${user.email}</p>
        <p>${user.nationality}, ${user.age}</p>
        <p>
          <img class="ui large image" src="/profile/getpicture/${user.id}">
        </p>
        <form action="/profile/uploadpicture/${user.id}" method="post" enctype="multipart/form-data">
          <input type="file" name="picture" /> 
          <input type="submit" name="submit" value="upload" />
        </form>
        <p>
      </div>
      <div class="ui column form segment">
        <h2 class="ui header">Status</h2>
        <div class="ui blue block label">
          <p>${user.statusText}</p>
        </div>
        <hr>
        <form action="profile/changestatus" method="post">
          <h3 class="ui blue block header">Enter Status</h3>
          <textarea class="ui field" name="profiletext"> </textarea>
          <input class="ui blue button" type="submit" name="submit" value="Change" />
        </form>
      </div>
    </div>
  </div>
</section>