#{extends 'main.html' /} #{set title:'Spacebook Members' /}

<nav class="ui blue inverted pointing menu">
  <div class="header item">Spacebook</div>
  <a class="ui item" href="home"> <i class="home icon"></i>Home</a> 
  <a class="ui active item" href="members"> <i class="users icon"></i>Members</a> 
  <a class="ui item" href="profile"> <i class="user icon"></i>Profile</a> 
  <a class="ui item" href="leaderboard"> <i class="ordered list icon"></i>Leaderboard</a> 
  <a class="ui item" href="logout"> <i class="sign out icon"></i>Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook's Members</h2>
  <div class="ui list">
    #{list items:users, as:'user'}
    <div class="item">
      <i class="right triangle icon"></i> <img class="ui avatar image" src="/profile/getpicture/${user.id}">
       ${user.firstName} ${user.lastName} <a href="/publicprofile/${user.id}">(visit)</a> 
       <a href="/members/follow/${user.id}"> (follow)</a>, ${user.statusText}
    </div>
    #{/list}
  </div>
</section>