#{extends 'main.html' /} #{set title:'Welcome to Spacebook' /}

<nav class="ui blue inverted pointing menu">
  <div class="header item">Spacebook</div>
  <a class="item" href="/signup"><i class="edit icon"></i> Signup </a> 
  <a class="item" href="/login"><i class="sign in icon"></i> Login </a>
</nav>

<section class="ui segment">
  <p>Signup or Log in to the Spacebook Service</p>
</section>
