#{extends 'main.html' /} #{set title:'Login to Spacebook' /}

<nav class="ui blue inverted pointing menu">
  <div class="header item">Spacebook</div>
  <a class="item" href="/signup"><i class="edit icon"></i> Signup </a> 
  <a class="active item" href="/login"><i class="sign in icon"></i> Login </a>
</nav>

<section class="ui segment">
  <p>Log in here ...</p>
</section>

<section class="ui form segment">
  <form action="/authenticate" method="POST">
    <div class="field">
      <label> Username: </label> <input type="text" name="email">
    </div>
    <div class="field">
      <label> Password: </label> <input type="password" name="password">
    </div>
    <button class="ui blue submit button">Login</button>
  </form>
</section>